@font-face {
  font-family: 'josefinsans';
  src: url('../fonts/josefinsans/JosefinSans-Regular.ttf');
}

@font-face {
  font-family: 'playfairdisplay';
  src: url('../fonts/playfairdisplay/PlayfairDisplay-Regular.ttf');
}

body{
  margin:0px;
  font-family: 'josefinsans';
  font-size: 18px;
}

header{
  position:fixed;
  top:0px;
  left:0px;
  z-index:1;
  width:100%;
  background-color:black;
}

.nav{
  font-size : 18px;
  font-weight: 700;
  color: white;
}

.nav>li>a{
  padding: 15px 30px;
  box-shadow: 0 0 0 1px rgba(0,0,0,0) inset;
  transition: all 250ms ease-in-out;
  color: white;
}

.nav>li.active>a, .nav>li.active>a:focus {
  background-color: #EEE;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.2) inset;
  outline:0;
}

.nav>li>a:focus, .nav>li>a:hover,{
  color: black;
  background-color: #fff;
}

#title{
  font-family: 'playfairdisplay';
}

.accueil:before{
  content:"";
  position:absolute;
  top:0;
  right:0;
  left:0;
  bottom:0;
  background-color:rgba(0,0,0,0.3);
}

.accueil{
  background: url('../images/porsche.jpg');
  background-repeat:no-repeat;
  background-size: cover,   
}

h1{
  font-size: 45px;
  text-align: center; 
  font-family: 'playfairdisplay';
  text-shadow:0 0 1px rgba(150,150,150,0.6);
  color:white;
}

.presta:before{
  content:"";
  position:absolute;
  top:0;
  right:0;
  left:0;
  bottom:0;
  background-color:rgba(0,0,0,0.3);
}

.presta{
  background: url('../images/firebird.jpg');
  background-repeat:no-repeat;
  background-position: left;
  background-size: 35% 100%;   
}

.presta p{
  margin-left: 40%;
}

.bordered
{/* 
    width:5px; */
    border-right:1px solid gray;
    height:70px;
}

.slide1{
  background: url('../images/fiat.jpg');
  background-repeat:no-repeat;
  background-position: left;
  background-size: 35% 100%;
}

.slide2{
  background: url('../images/lancia.jpg');
  background-repeat:no-repeat;
  background-position: left;
  background-size: 35% 100%;
}


.slide3{
  background: url('../images/alfa.jpg');
  background-repeat:no-repeat;
  background-position: left;
  background-size: 35% 100%;
}

.content{
  margin-left: 40%;
}

.contact:before{
  content:"";
  position:absolute;
  top:0;
  right:0;
  left:0;
  bottom:0;
  background-color:rgba(0,0,0,0.5);
}

.contact{
  background: url('../images/board.jpg');
  background-repeat:no-repeat;
  background-size: cover; 
}

h2{
  font-size: 35px;
}

form, legend{
  color:#FFF;
}

#textinput, #textarea, #textinput:focus, #textarea:focus{
  background: transparent;
  border: 2px solid #FFF;
  color:#FFF;
}

#map {
  height: 250px;
}

#linkFb{
  margin-top: 80px
}

#linkFb:hover{
  cursor: pointer;
}

footer{
  position:absolute; 
  height: 40px;
  bottom:0px;
  left:0px;
  z-index:1;
  width:100%;
  background-color:black;
}